@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap");
html {
  background-color: black;
}
body::-webkit-scrollbar {
  width: 2px; /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background: rgb(108, 15, 117); /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-color: #209b97; /* color of the scroll thumb */
  border-radius: 20px; /* roundness of the scroll thumb */
}

body {
  font-family: "Roboto", sans-serif;

  margin: 0;
  min-height: 100vh;
  background-color: black;

  color: white;
}

.container-calc {
  display: flex;
  text-align: center;
  justify-content: center;
}
.container-nums {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 150px;
}
.container-nums > div {
  border: none;
  flex: 33.33%;
}
.container-nums > div > button {
  border-radius: 50%;
  border: none;
  width: 40px;
  height: 40px;
  background-color: #333333;
  color: white;
}
.operators {
  display: flex;
  flex-direction: column;
}
.operators > button {
  /* margin: 1px; */
  font-size: 20px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  border: none;
  background-color: #f28d00;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  margin-bottom: 4px;
  color: white;
}
.operators > button:active {
  background-color: white;
  color: #f28d00;
}

.container-info {
  text-align: right;
  width: 150px;
  height: 95px;
  overflow-x: auto;
  overflow-y: hidden;
  margin: auto;
}

@media (min-width: 300px) and (max-width: 480px) {
  /* CSS */

  .container-all {
    position: relative;
  }

  .container-info {
    font-size: 25px;
    width: 300px;
    height: 150px;
  }

  .container-nums {
    width: 100vw;
  }
  .container-nums > div > button {
    width: 84px;
    height: 84px;
    margin: 2px;
  }
  .operators > button {
    margin-right: 10px;
    width: 84px;
    height: 84px;
  }
}
@media (min-width: 1281px) {
  body {
    zoom: 200%;
  }
}
